<title-component [h1Data]="siteTitle | capitalizeFirstLetter"
                 [pData]="siteTitle | browseText"></title-component>
<div class="tab-content">
    <div class="content-list-body row">
        <section class="col-md-6 "
                 *ngFor="let team of teamList$ | async">
            <card-basic [styleSuffix]="siteTitle"
                        [url]="siteTitle | url: team.id"
                        [title]="team.name"
                        [subTitle]="team.teamInfo">
            </card-basic>
        </section>
    </div>
</div>