<div class="card card-task">
    <div class="progress">
        <div class="progress-bar {{progressColor}}"
             role="progressbar"
             [ngStyle]="{width: progressValue+'%'}"
             [attr.aria-valuenow]="progressValue"
             aria-valuemin="0"
             aria-valuemax="100">
        </div>
    </div>
    <div class="card-body">

        <!-- <div class="dropdown card-options">
            <button class="btn-options"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item"
                   href="#">Manage</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger"
                   href="#">Leave Team</a>
            </div>
        </div> -->
        <div class="card-title">
            <a href="#">
                <h5 data-filter-by="text"
                    class="H5-filter-by-text">{{title}}</h5>
            </a>
            <span>{{subTitle}}</span>
        </div>
        <div class="card-meta">
            <ul *ngFor="let av of avatars"
                class="avatars">
                <li>
                    <a href="#"
                       data-toggle="tooltip"
                       title=""
                       data-original-title="xxx">
                        <img alt=""
                             class="avatar"
                             src="{{av}}">
                    </a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <i class="material-icons">playlist_add_check</i>
                <span>{{checkListStatus}}</span>
            </div>
            <!-- <div class="dropdown card-options">
                <button class="btn-options"
                        type="button"
                        id="task-dropdown-button-1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item"
                       href="#">Mark as done</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger"
                       href="#">Archive</a>
                </div>
            </div> -->
        </div>

    </div>
</div>