<div class="card card-task">
    <div class="progress">
        <div class="progress-bar {{cardData.progressColor}}"
             role="progressbar"
             [ngStyle]="{width: cardData.progressValue+'%'}"
             [attr.aria-valuenow]="cardData.progressValue"
             aria-valuemin="0"
             aria-valuemax="100">
        </div>
    </div>
    <div class="card-body">
        <div class="card-title">
            <a href="#">
                <h5 data-filter-by="text"
                    class="H5-filter-by-text">{{cardData.title}}</h5>
            </a>
            <span>{{cardData.subTitle}}</span>
        </div>
        <div class="card-meta">
            <avatar-list [avatarsList]="cardData.employeeData"></avatar-list>
            <play-list-add-check [text]="cardData.tasksStatus"></play-list-add-check>
        </div>
    </div>
</div>