<div class="card card-team">
    <div class="progress">
        <div class="progress-bar {{progressColor}}"
             role="progressbar"
             [ngStyle]="{width: progressValue+'%'}"
             [attr.aria-valuenow]="progressValue"
             aria-valuemin="0"
             aria-valuemax="100">
        </div>
    </div>
    <div class="card-body">
        <div class="card-title">
            <h5 data-filter-by="text"
                class="H5-filter-by-text">{{title}}</h5>
            <span>{{subTitle}}</span>
        </div>
    </div>
</div>